.second-header {
  width: 100%;
  min-width: 800px;
  height: 130px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.second-logo {
  width: 130px;
  height: 130px;
}